@import './../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import './../node_modules/@fortawesome/fontawesome-free/scss/brands';
@import './../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import './../node_modules/@fortawesome/fontawesome-free/scss/solid';
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Bold.woff2') format('woff2'), url('/fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.woff2') format('woff2'), url('/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-BoldItalic.woff2') format('woff2'), url('/fonts/Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Thin.woff2') format('woff2'), url('/fonts/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Light.woff2') format('woff2'), url('/fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Black.woff2') format('woff2'), url('/fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-BlackItalic.woff2') format('woff2'), url('/fonts/Roboto-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-MediumItalic.woff2') format('woff2'), url('/fonts/Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Italic.woff2') format('woff2'), url('/fonts/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-ThinItalic.woff2') format('woff2'), url('/fonts/Roboto-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Medium.woff2') format('woff2'), url('/fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-LightItalic.woff2') format('woff2'), url('/fonts/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}


/* variable-colors-css */

:root {
    --first-color: #FFFFFF;
    --second-color: #111111;
    --third-color: #2B2B2B;
    --fourth-color: #CCCCCC;
    --fifth-color: #000000;
    --sixth-color: #E8E8E8;
}

* {
    font-size: 25px;
}

body {
    font-family: Roboto, sans-serif;
    display: block;
    font-family: 'Roboto', sans-serif;
    color: #E8E8E8;
    font-size: 16px;
    font-family: ;
}

body li {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
}

.free-shipping ul {
    display: flex;
    justify-content: space-around;
    size: 60px;
    background-color: var(--first-color);
    opacity: 1;
}

.free-shipping ul li a {
    font-family: "Roboto-Regular", sans-serif;
    color: #5E5A5A;
    font: normal normal normal 14px/17px Roboto;
    height: 18px;
}

.social-icons {
    margin-top: 20px;
    background: url('/Monochrome/img/mobil-banner.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    background-color: #cccccc;
    height: 800px;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    flex-direction: row;
}

ul.social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    flex-direction: row;
}

ul .social-icons li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: row;
}

.social-icons .icon-media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
