.box {
  width: 25px;
  height: 25px;
  display: inline-block;
}

.box-red {
  background-color: red;
  transition: width 3s linear;
}

.box-red:hover {
  width: 120px;
}

.box-green {
  background-color: green;
  transition: transform 5s linear,
    width 5s linear,
    height 5s linear;
}
.box-green:hover {
  transform: rotate(360deg);
  width: 30px;
  height: 30px;
}

.box-purple {
  background-color: purple;
  transition: width 4s ease 1.5s,
    height 4s ease 1.5s;
}

.box-purple:hover {
  width: 100px;
  height: 100px;
}

.box-brown {
  background-color: brown;
  transition: transform 4s ease-in,
    width 4s ease-in,
    height 4s ease-in;
}
.box-brown:hover {
  transform: rotate(-180deg);
  width: 10px;
  height: 10px;
}

.box-yellow {
  background-color: yellow;
  transition: transform 3s ease-in-out,
    width 3s,
    height 3s;
}

.box-yellow:hover {
  transform: scale(2);
}