 @import './../node_modules/@fortawesome/fontawesome-free/scss/regular';
 @import './../node_modules/@fortawesome/fontawesome-free/scss/brands';
 @import './../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
 @import'/Monochrome/node_modules/bootstrap/scss/bootstrap';
 @import './../node_modules/@fortawesome/fontawesome-free/scss/solid';
 @font-face {
     font-family: 'Roboto';
     src: url('/fonts/Roboto-Bold.woff2') format('woff2'), url('/fonts/Roboto-Bold.woff') format('woff');
     font-weight: bold;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: 'Roboto';
     src: url('/fonts/Roboto-Regular.woff2') format('woff2'), url('/fonts/Roboto-Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: 'Roboto';
     src: url('/fonts/Roboto-BoldItalic.woff2') format('woff2'), url('/fonts/Roboto-BoldItalic.woff') format('woff');
     font-weight: bold;
     font-style: italic;
     font-display: swap;
 }

 @font-face {
     font-family: 'Roboto';
     src: url('/fonts/Roboto-Thin.woff2') format('woff2'), url('/fonts/Roboto-Thin.woff') format('woff');
     font-weight: 100;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: 'Roboto';
     src: url('/fonts/Roboto-Light.woff2') format('woff2'), url('/fonts/Roboto-Light.woff') format('woff');
     font-weight: 300;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: 'Roboto';
     src: url('/fonts/Roboto-Black.woff2') format('woff2'), url('/fonts/Roboto-Black.woff') format('woff');
     font-weight: 900;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: 'Roboto';
     src: url('/fonts/Roboto-BlackItalic.woff2') format('woff2'), url('/fonts/Roboto-BlackItalic.woff') format('woff');
     font-weight: 900;
     font-style: italic;
     font-display: swap;
 }

 @font-face {
     font-family: 'Roboto';
     src: url('/fonts/Roboto-MediumItalic.woff2') format('woff2'), url('/fonts/Roboto-MediumItalic.woff') format('woff');
     font-weight: 500;
     font-style: italic;
     font-display: swap;
 }

 @font-face {
     font-family: 'Roboto';
     src: url('/fonts/Roboto-Italic.woff2') format('woff2'), url('/fonts/Roboto-Italic.woff') format('woff');
     font-weight: normal;
     font-style: italic;
     font-display: swap;
 }

 @font-face {
     font-family: 'Roboto';
     src: url('/fonts/Roboto-ThinItalic.woff2') format('woff2'), url('/fonts/Roboto-ThinItalic.woff') format('woff');
     font-weight: 100;
     font-style: italic;
     font-display: swap;
 }

 @font-face {
     font-family: 'Roboto';
     src: url('/fonts/Roboto-Medium.woff2') format('woff2'), url('/fonts/Roboto-Medium.woff') format('woff');
     font-weight: 500;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: 'Roboto';
     src: url('/fonts/Roboto-LightItalic.woff2') format('woff2'), url('/fonts/Roboto-LightItalic.woff') format('woff');
     font-weight: 300;
     font-style: italic;
     font-display: swap;
 }

 body li {
     list-style-type: none;
 }

 footer {
     display: block;
     width: auto;
     height: 500px;
     padding: 1000px;
 }

 .header-information {
     font-family: ' Quicksand', 'Times new roman', Times, serif;
     background-color: #333;
     text-decoration: antiquewhite;
     color: white;
     margin-top: 10px;
     height: 100px;
     line-height: 24px;
     font-weight: 300;
     font-style: normal;
     padding-left: 208px;
 }

 .header-information h2 {
     display: flex;
     font-size: 36px;
     font-weight: 300;
     padding-top: 18px;
 }

 @media screen and (max-width: 600px) {
     .header-information {
         width: 970px;
         background-color: coral;
         font-size: 24px;
     }
 }

 .header-information h1 {
     display: flex;
     justify-content: center;
 }
 /* logo */

 .logo {
     display: flex;
     background: url('../../img/logo.png') no-repeat left center;
     margin-top: -39px;
     margin-left: 100px;
     width: 10%;
     height: 290px;
     background-size: 190px;
     align-content: flex-start;
 }
 /* bar-top-menu  */

 .top-menu nav a {
     display: flex;
     align-items: flex-start;
     padding-left: 290px;
     margin-top: -380px;
 }

 .top-menu {
     margin-top: 1px;
     height: 250px;
     padding-bottom: 70px;
     background: transparent;
     border: crimson solid 2px;
 }

 .nav-bar .navbar-brand :hover {
     background: brown;
 }
