@charset "utf-8";
/* CSS Document */
@import './../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import './../node_modules/@fortawesome/fontawesome-free/scss/brands';
@import './../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import'/Monochrome/node_modules/bootstrap/scss/bootstrap';
@import './../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import '../../bootstrap-4.5.3-dist/css/';
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Bold.woff2') format('woff2'), url('/fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.woff2') format('woff2'), url('/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-BoldItalic.woff2') format('woff2'), url('/fonts/Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Thin.woff2') format('woff2'), url('/fonts/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Light.woff2') format('woff2'), url('/fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Black.woff2') format('woff2'), url('/fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-BlackItalic.woff2') format('woff2'), url('/fonts/Roboto-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-MediumItalic.woff2') format('woff2'), url('/fonts/Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Italic.woff2') format('woff2'), url('/fonts/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-ThinItalic.woff2') format('woff2'), url('/fonts/Roboto-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Medium.woff2') format('woff2'), url('/fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-LightItalic.woff2') format('woff2'), url('/fonts/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}



.container {

    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
}

.header-information {
    font-family: ' Quicksand', 'Times new roman', Times, serif;
    background-color:black;
    text-decoration: antiquewhite;
    color: white;
    margin-top: 0px;
    height: 120px;
    line-height: 24px;
    font-weight: 300;
    font-style: normal;
    padding-left: 108;
    height: 140px;
    padding-top: 1px;
    justify-content: center;

}





@media screen  and (max-width:1200px) {
    .header-information  {
        width: 100%;
        height: 150px;
        background-color: darkslateblue;
        color: red;
    }
}
/* and (min-width: 120px) */
@media screen   and  (max-width:517x) {
    .header-information .title{
        width: 100%;
        height: 150px;
        color: red;
    }


}



.header-information h2 {
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    margin-top: 36px;
    margin-right: 60px;
    margin-left: 60px;
    font-size: 38px;
    padding: auto;
    color: #fff;
}

.logo p img {
    display: flex;
    margin-left: 50px;
    margin-top: -10px;
}

.logo-top .title {
    display: flex;
    margin-left: -70px;

}

@media screen and (min-width:  223px) and (max-width: 616px)  {
    .logo  img  {
        display: flex;
        padding-left: -300px;
    }
}



.logo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    padding: 0 auto 0 auto;
    justify-content: center;

}

@media screen and (min-width:  323px) and (max-width: 1492px)  {
    .logo-top img   {
        display: flex;
        padding-left: -300px;
        padding: 0 auto 0 auto;
    }
}

@media screen and (max-width:  617px)  {
    .logo-top img  {
        display: none;
        padding: 0 -900px 0 -600px;
    }
}

.logo-prot {
    display: flex;
    position: relative;
    background-color: lightblue;
    justify-content: center;
}

.logo-protopopiat  img {
    width: 50px;
    background-image: repeating-linear-gradient();
    height:50px;
    margin-top: -0px;
    margin-left: 100px;
    border-radius: 80px;
}

.logo-protopopiat img {
    width: 4em;
    height: 4em;
    margin-top: 5px;
    margin-left: 90px;
    animation: bounceIn 0.6s;
    transform: rotate(0deg) scale(1) translateZ(0);
    transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
    cursor: crosshair;
    transition: 1s;
}

.logo-protopopiat :hover {
    background-color: #e76853;

    transform: rotate(360deg) scale(3.8);
}

@keyframes bounceIn {
    0% {
        opacity: 1;
        transform: scale(.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    70% {
        opacity: 1;
        transform: scale(.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}



.top-menu {
    display: block;
    margin-top: -10px;
    height: 180px;
    justify-content: space-between;
    background: #333;
    flex-direction: row;
}

/* .top-menu-buttons  {
    display: flex;
    justify-content: space-between;
    background: #333;
    flex-direction: row;

    /* justify-content: space-between; */
    /* }  */

    .top-menu h1   {
        display: flex;
        position: fixed;
        font-size: 40px;
        margin-top: 30px;
        color: #FFFFFF;
        margin-left: 150px ;
    }




    .top-menu  ul {
        display: fixed;
        margin-top: 20px;
        padding-left: 200px;
        /* margin-left: -200px; */
    }




    .top-menu ul {
        display: flex;
        list-style: none;

    }


    .top-menu a {
        text-decoration: none;
        color: #FFFFFF;
    }

    .top-menu li {
        float: left;
        list-style: none;
        text-align: center;
        background-color: #333;
        margin-right: 100px;
        width: 150px;
        font-size: 23px;
        line-height: 38px;
    }



    .top-menu  .nav-pills  {
        text-decoration: none;
        color: #FFFFFF;
        display: block;
        transition: 0.5s;
    }
    .top-menu .nav-pills :hover {
        text-decoration: none;
        color: #FFFFFF;
        background-color: coral;
        border-radius: 100px;

    }

    /* Dropdown Button */
    .dropbtn {
        background-color: transparent;
        color: white;
        padding: 16px;
        border: none;
        font-size: 23px;
        line-height: 26px;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        /* position: relative;
        display: inline-block; */
        display: flex;
        margin-top: 6px;
        /* margin-right: 700px; */
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 140px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    * Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;}

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color:coral;
        border-radius: 100px;}
