/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BlackItalic.woff2') format('woff2'),
      url('../fonts/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
      url('../fonts/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
      url('../fonts/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.woff2') format('woff2'),
      url('../fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
      url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
      url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-ThinItalic.woff2') format('woff2'),
      url('../fonts/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2'),
      url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
      url('../fonts/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2'),
      url('../fonts/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-MediumItalic.woff2') format('woff2'),
      url('../fonts/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #707070;
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
}

.header {
  top: 30px;
  left: 421px;
  width: 1077px;
  height: 41px;
  opacity: 1;
}
.header .contact a {
  display: inline;
}

.header-container {
  top: -3px;
  left: 0px;
  width: 1920px;
  height: 550px;
  background: url('../Images/component.png')
    no-repeat
    center
    center;
  background-size: cover;

}

.header {
  margin-top: 10px;
}

.header .contact .icon {
  display: inline;
  top: 30px;
  left: 421px;
  width: 1920px;
  height: 41px;
  opacity: 1;
  text-align: center;
  }

  .header .contact .icon {
    margin: 50px;
    word-spacing: 30px;
  }

.header .contact .input p {
  float: right;
  margin-right: 20px;
  top: 30px;
left: 1064px;
width: 254px;
height: 21px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #CCCCCC;
opacity: 1;
color: #FFFFFF;
}

.input .icon1 {
  top: 39px;
left: 1354px;
width: 22px;
height: 22px;
opacity: 1;
}

.input .icon2 {
  op: 41px;
left: 1411px;
width: 22px;
height: 19px;
border: 2px solid #2B2B2B;
opacity: 1;
}


.header .contact .input .icon1 .icon2 .icon3{
  margin: 50px;
  float: right;
  padding: 1064px 600px;
  align-content: flex-end;
}

.input .icon3 {
  top: 45px;
left: 1476px;
width: 22px;
height: 16px;
border: 2px solid #111111;
opacity: 1;
}

.header-bottom .nav-primary ul {
  display: inline-flex;
  top: 473px;
left: 0px;
width: 1920px;
height: 52px;
background: #2B2B2B 0% 0% no-repeat padding-box;
opacity: 1;
}

.header-bottom .nav-primary ul {
  position: relative;
}

li a {
  top: 488px;
left: 570px;
width: 74px;
height: 26px;
text-align: center;
font: normal normal normal 19px/22px Playfair Display;
letter-spacing: 0.28px;
color: #E8E8E8;
text-transform: uppercase;
opacity: 1;
padding: 5px;
align-items: center ;
}

li {
  top: 590px;
  margin-left:10%;
}

.catalog-preview h1 {
  top: 555px;
left: 886px;
width: 154px;
height: 47px;
text-align: center;
font: normal normal bold 35px/47px Playfair Display;
letter-spacing: 0px;
color: #2B2B2B;
opacity: 1;
}

h1 {
  margin-top: 2%;
  margin-right: 68%;
  margin-left: 40%
}

.catalog-titles-container1 .image-container{
  display: inline;
  top: 555px;
  left: 282px;
  width: 1356px;
  height: 453px;
  opacity: 1
}

.image-container .product-image1 .product-image2 .product-image3 .product-image4 {
  display: inline;
  background: url(../Images/component\ \(2\).png);
  background: url(../Images/component\ \(16\).png);
}


